body {
  display: flex;
  height: 100vh;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  background-color: #1e293b;
}
h1 {
  color: #4d7c0f;
}

input {
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
}

button {
  padding: 10px;
  background-color: #7c2d12;
  cursor: pointer;
}

.item {
  color: #facc15;
  font-size: 30px;
}
